@import 'tailwindcss';

@font-face {
	font-family: 'Pretendard';
	src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
	font-weight: 200 1000;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: 'Pretendard';
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

/* 전역 스크롤바 스타일 - 6px */
* {
	scrollbar-width: auto; /* Firefox는 px 사이즈 직접 설정 불가하기 때문에 auto 사용 */
	scrollbar-color: #d9d9d9 transparent; /* Firefox: thumb 색상 / track 배경색(투명) */
}

/* Chrome, Safari, Edge 스크롤바 커스터마이징 */
*::-webkit-scrollbar {
	width: 6px; /* 세로 스크롤바 너비 */
	height: 6px; /* 가로 스크롤바 높이 */
}

*::-webkit-scrollbar-track {
	background: transparent; /* 스크롤바 트랙(배경) 투명 */
}

*::-webkit-scrollbar-thumb {
	background-color: #d9d9d9; /* 스크롤바 thumb(움직이는 부분) 색상 */
	border-radius: 3px; /* thumb 모서리 둥글게 */
}

*::-webkit-scrollbar-button {
	display: none; /* 스크롤바 위아래 화살표 버튼 제거 */
}

/* 알림 스크롤바 스타일 - 3px */
.notification-scroll::-webkit-scrollbar {
	width: 3px;
}

.notification-scroll::-webkit-scrollbar-thumb {
	background-color: #cccccc;
	border-radius: 1px;
}

.notification-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.notification-scroll::-webkit-scrollbar-button {
	display: none;
}

.notification-scroll {
	scrollbar-width: thin;
	scrollbar-color: #cccccc transparent;
}

@theme {
	--color-primary-50-light: #fbf9ff;
	--color-primary-100-light: #f7f1ff;
	--color-primary-150-light: #f0e5fd;
	--color-primary-200-light: #e8d8fc;
	--color-primary-300-light: #cfaff9;
	--color-primary-400-normal: #9955f2;
	--color-primary-500-normal: #660fd8;
	--color-primary-600-normal: #480b99;
	--color-primary-700-dark: #3b097c;
	--color-primary-800-dark: #2d075f;
	--color-primary-900-dark: #200543;

	--color-neutral-000: #ffffff;
	--color-neutral-50: #fafafa;
	--color-neutral-100: #f5f5f5;
	--color-neutral-200: #e7e7e7;
	--color-neutral-300: #e0e0e0;
	--color-neutral-400: #cccccc;
	--color-neutral-500: #959595;
	--color-neutral-600: #777777;
	--color-neutral-700: #595959;
	--color-neutral-800: #272727;
	--color-neutral-900: #111111;

	--color-semantic-50: #fffbfb;
	--color-semantic-100: #fef2f2;
	--color-semantic-200: #ffebee;
	--color-semantic-300: #ffccd2;
	--color-semantic-400: #f49898;
	--color-semantic-500: #eb6f70;
	--color-semantic-600: #f64c4c;
	--color-semantic-700: #ec2d30;

	--color-danger-600: #666666;
	--color-danger-700: #ec2d30;

	--color-status-error: #FF7F38;
	--color-status-success: #009444;
	--color-status-progress: #FFEB63;
	--color-status-complete: #2883DE;
	--color-status-info-cool-gray-deep: #71717F;
	--color-status-info-cool-gray-light: #DADAE8;
	--color-status-info-cool-gray-neutral: #ADADBB;

	--shadow-inner-neutral-1: inset 0 1.3px 3px 0 rgba(228, 228, 228, 0.2), inset 0 3px 6px 0 rgba(228, 228, 228, 0.2);
	--shadow-inner-neutral-2: inset -1px 2.5px 4px 0 rgba(228, 228, 228, 0.2);
	--shadow-drop-neutral-1: 0 6px 20px 0 rgba(228, 228, 228, 1);
	--shadow-drop-neutral-2: 0 -4px 16px 0 rgba(228, 228, 228, 0.5);
	--shadow-drop-neutral-3: 0 -4px 16px 0 rgba(25, 25, 25, 0.04);
	--shadow-drop-primary-2: 0 1px 2px 0 rgba(102, 15, 216, 0.2), 0 0 4px 0 rgba(154, 92, 235, 0.2);

	--radius-10: 10px;
	--radius-12: 12px;
	--radius-16: 16px;
	--radius-100: 100px;
	--radius-full: 100%;

	--spacing-gutter: 24px;
	--max-width-main: 1440px;
}

@layer utilities {
	.display-1 {
		font-size: 48px;
		line-height: 1.2;
	}

	.display-2 {
		font-size: 40px;
		line-height: 1.2;
	}

	.display-3 {
		font-size: 36px;
		line-height: 1.2;
	}
	.heading-1 {
		font-size: 32px;
		line-height: 1.3;
	}

	.heading-2 {
		font-size: 28px;
		line-height: 1.3;
	}

	.heading-3 {
		font-size: 24px;
		line-height: 1.3;
	}

	.title-1 {
		font-size: 22px;
		line-height: 1.4;
	}

	.title-2 {
		font-size: 20px;
		line-height: 1.4;
	}

	.title-3 {
		font-size: 18px;
		line-height: 1.4;
	}

	.body-1 {
		font-size: 16px;
		line-height: 1.5;
	}

	.body-2 {
		font-size: 14px;
		line-height: 1.5;
	}

	.body-3 {
		font-size: 13px;
		line-height: 1.5;
	}

	.label {
		font-size: 13px;
		line-height: 1.4;
	}

	.caption-1 {
		font-size: 12px;
		line-height: 1.5;
	}

	.caption-2 {
		font-size: 11px;
		line-height: 1.6;
	}

	.caption-3 {
		font-size: 10px;
		line-height: 1.5;
	}

	.button-1 {
		font-size: 14px;
		line-height: 1.4;
	}

	.shadow-inner-neutral-1 {
		box-shadow: var(--shadow-inner-neutral-1);
	}

	.shadow-inner-neutral-2 {
		box-shadow: var(--shadow-inner-neutral-2);
	}

	.shadow-drop-neutral-1 {
		box-shadow: var(--shadow-drop-neutral-1);
	}

	.shadow-drop-neutral-2 {
		box-shadow: var(--shadow-drop-neutral-2);
	}

	.shadow-drop-neutral-3 {
		box-shadow: var(--shadow-drop-neutral-3);
	}

	.shadow-drop-primary-2 {
		box-shadow: var(--shadow-drop-primary-2);
	}
	
	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* 페이지 전체 가로 스크롤바만 숨기기 */
	html {
  		overflow-x: hidden; /* 스크롤바는 숨기고 가로 스크롤을 방지 */
	}
}
