@import 'tailwindcss';

@font-face {
	font-family: 'Pretendard';
	src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
	font-weight: 200 1000;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: 'Pretendard';
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed
}

@theme {
	--color-primary-50-light: #fbf8ff;
	--color-primary-100-light: #f0e7fb;
	--color-primary-200-light: #e8dbf9;
	--color-primary-300-light: #d0b5f3;
	--color-primary-400-normal: #9a5ceb;
	--color-primary-500-normal: #660fd8;
	--color-primary-600-normal: #480b99;
	--color-primary-700-dark: #3b097c;
	--color-primary-800-dark: #2d075f;
	--color-primary-900-dark: #200543;

	--color-neutral-000: #ffffff;
	--color-neutral-50: #fafafa;
	--color-neutral-100: #f5f5f5;
	--color-neutral-200: #e7e7e7;
	--color-neutral-300: #e0e0e0;
	--color-neutral-400: #cccccc;
	--color-neutral-500: #959595;
	--color-neutral-600: #777777;
	--color-neutral-700: #595959;
	--color-neutral-800: #272727;
	--color-neutral-900: #111111;

	--color-semantic-50: #fffbfb;
	--color-semantic-100: #fef2f2;
	--color-semantic-200: #ffebee;
	--color-semantic-300: #ffccd2;
	--color-semantic-400: #f49898;
	--color-semantic-500: #eb6f70;
	--color-semantic-600: #f64c4c;
	--color-semantic-700: #ec2d30;

	--shadow-sm: 0 8px 24px 0 rgba(39, 39, 39, 0.15);
	--shadow-md: 0 16px 40px 0 rgba(39, 39, 39, 0.2);
	--shadow-brand: 0 16px 40px 0 rgba(72, 11, 153, 0.2);

	--radius-10: 10px;
	--radius-16: 16px;
	--radius-100: 100px;
	--radius-full: 100%;

	--spacing-gutter: 24px;
	--max-width-main: 1140px;
}

@layer utilities {
	.display-1 {
		font-size: 48px;
		line-height: 1.2;
	}

	.display-2 {
		font-size: 40px;
		line-height: 1.2;
	}

	.display-3 {
		font-size: 36px;
		line-height: 1.2;
	}
	.heading-1 {
		font-size: 32px;
		line-height: 1.3;
	}

	.heading-2 {
		font-size: 28px;
		line-height: 1.3;
	}

	.heading-3 {
		font-size: 24px;
		line-height: 1.3;
	}

	.title-1 {
		font-size: 22px;
		line-height: 1.4;
	}

	.title-2 {
		font-size: 20px;
		line-height: 1.4;
	}

	.title-3 {
		font-size: 18px;
		line-height: 1.4;
	}

	.body-1 {
		font-size: 16px;
		line-height: 1.5;
	}

	.body-2 {
		font-size: 14px;
		line-height: 1.5;
	}

	.body-3 {
		font-size: 13px;
		line-height: 1.5;
	}

	.label {
		font-size: 13px;
		line-height: 1.4;
	}

	.caption-1 {
		font-size: 12px;
		line-height: 1.5;
	}

	.caption-2 {
		font-size: 11px;
		line-height: 1.6;
	}

	.caption-3 {
		font-size: 10px;
		line-height: 1.5;
	}

	.button-1 {
		font-size: 14px;
		line-height: 1.4;
	}
}
